@using PagedList.Mvc;
@using Shop1.Models;
@model PagedList.PagedList<SanPham>
@{
    ViewBag.Title = "Shop";
    ViewBag.hangsx = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- product main items area start -->
<div class="product-main-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="/Home" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><a href="/Home/Shop" title="go to shoppage"><strong> Shop /</strong></li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="product-sidebar">
                    <div class="sidebar-title">
                        <h2> Bộ lọc</h2>
                    </div>

                    @*<div class="single-sidebar">
                            <div class="single-sidebar-title">
                                <h3>Màu</h3>
                            </div>
                            <div class="single-sidebar-content">
                                <select multiple="multiple">
                                    <option><li><a href="#">Đen (2)</a></li></option>
                                    <option><a href="#">Xanh lơ (2)</a></li></option><li>
                                </select>
                            </div>
                        </div>*@
                    <div class="single-sidebar">
                        <div class="single-sidebar-title">
                            <h3>Hãng sản xuất</h3>
                        </div>
                        <div>
                            @Html.Action("DanhMucHSXPartial", "Home")
                        </div>

                    </div>
                    <div class="single-sidebar price">
                        <div class="single-sidebar-title">
                            <h3>Giá</h3>
                        </div>
                        <div class="single-sidebar-content">
                            <div class="price-range">
                                @*<form action="/Home/BoLocGia" method="post" id="formPrice">*@
                                <div class="price-filter">
                                    <div id="slider-range"></div>
                                    <div class="price-slider-amount">
                                        <input type="text" id="amount" name="price" contextmenu="" placeholder="Add Your Price" />
                                    </div>
                                </div>
                                <button type="button" onclick="Search()"> <span>Tìm kiếm</span> </button>
                                @*</form>*@
                            </div>

                        </div>
                    </div>
                    <div class="banner-left">
                        <a href="#">
                            <img src="~/Content/img/product/banner_left.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="product-bar">
                    <ul class="product-navigation" role="tablist">
                        <li role="presentation" class="active gird">

                            <a href="#gird" aria-controls="gird" role="tab" data-toggle="tab">
                                <span>
                                    <img class="primary" src="~/Content/img/product/grid-primary.png" alt="">
                                    <img class="secondary" src="~/Content/img/product/grid-secondary.png" alt="">
                                </span>
                                Gird
                            </a>
                        </li>
                        <li role="presentation" class="list">
                            <a href="#list" aria-controls="list" role="tab" data-toggle="tab">
                                <span>
                                    <img class="primary" src="~/Content/img/product/list-primary.png" alt="">
                                    <img class="secondary" src="~/Content/img/product/list-secondary.png" alt="">
                                </span>
                                List
                            </a>
                        </li>
                    </ul>
                    <div class="sort-by">
                        <label>Sắp xếp theo</label>
                        <select name="sort">
                            <option value="#" selected>Tên</option>
                            <option value="#">Giá</option>
                        </select>
                        <a href="#" title="Set Descending Direction">
                            <img src="~/Content/img/product/i_asc_arrow.gif" alt="">
                        </a>
                    </div>
                    @*<div class="limit-product">
                            <label>Hiện</label>
                            <select name="show">
                                <option value="#" selected>6</option>
                                <option value="#">9</option>
                                <option value="#">12</option>
                                <option value="#">15</option>
                            </select>
                            Mỗi trang
                        </div>*@
                </div>
                <div class="row" id="loadsanpham">
                    <div class="product-content">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active fade in home2" id="gird">

                                @foreach (SanPham item in Model)
                                {
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="single-product">
                                            @{
                                                if (item.GiaSale == null)
                                                {
                                                    <div class="level-pro-new"><span>Mới</span></div>
                                                }
                                                else
                                                {
                                                    <div class="level-pro-sale"><span>Sale</span></div>
                                                }
                                            }
                                            <div class="product-img">
                                                <a href="@Url.Action("SingleProduct", "Product", new { id = item.MaSP})">
                                                    <img src="~/Content/img/Shoes/@item.AnhDaiDien" alt="" class="primary-img">
                                                    <img src="~/Content/img/Shoes/@item.AnhNen" alt="" class="secondary-img">
                                                </a>
                                            </div>
                                            <div class="actions">
                                                <button type="submit" class="cart-btn" title="Add to cart">Add to cart</button>
                                                <ul class="add-to-link">
                                                    <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                                                    <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product-price">
                                                <div class="product-name">
                                                    <a href="single-product.html" title="Fusce aliquam">@item.TenSP</a>
                                                </div>
                                                <div class="price-rating">
                                                    @{
                                                        if (item.GiaSale != null)
                                                        {
                                                            <span class="old-price">$@item.GiaGoc</span>
                                                        }
                                                    }
                                                    <span>$ @item.GiaTien</span>
                                                    <div class="ratings">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                            <div role="tabpanel" class="tab-pane fade home2" id="list">
                                <div class="product-catagory">
                                    @foreach (SanPham item in Model)
                                    {
                                        <div class="single-list-product">
                                            <div class="col-sm-4">
                                                <div class="list-product-img">
                                                    <a href="href=" @Url.Action("SingleProduct", "Product", new { id = item.MaSP }) "">
                                                        <img src="~/Content/img/Shoes/@item.AnhDaiDien" alt="" class="primary-img">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="list-product-info">
                                                    <a href="single-product.html" class="list-product-name">@item.TenSP</a>
                                                    <div class="price-rating">
                                                        <span class="old-price">$@item.GiaGoc</span>
                                                        <span>$ @item.GiaTien</span>
                                                        <div class="ratings">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                            <a href="#" class="review">1 Đánh giá</a>
                                                            <a href="#" class="add-review">Thêm đánh giá</a>
                                                        </div>
                                                    </div>
                                                    <div class="list-product-details">
                                                        <p>
                                                            @item.MoTa
                                                            <a href="single-product.html">Tìm hiểu thêm</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-bar">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="text"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount</div>
                            </div>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="pagination">
                                    <ul class="page-list">
                                        <li>@Html.PagedListPager(Model, page => Url.Action("Shop", new { page }))</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/admin/js/JavaScript.js"></script>
<script>
    function Search() {
        var hang = "@ViewBag.hangsx";
        var khoanggia = $("#amount").val();
        console.log(hang);
        console.log(khoanggia);
        var data = JSON.stringify({ id: hang, gia: khoanggia });
        console.log(data)
        $.ajax({
            url: "/Home/SanPhamTheoDanhMucVaGia",
            type: "POST",
            data: data,
            contentType: 'application/json',
            //enctype: "multipart/form-data",
            processData: false,
            success: function (result) {
                console.log(result);
                $('#loadsanpham').html(result);
            },
            error: function (err) {
                Swal.fire({
                    icon: 'error',
                    title: 'OOPS',
                    text: err
                })
            }
        });
    }
</script>


